/* Import fonts to css */
https://fonts.google.com/

/* Gradient Code Generator */
https://www.colorzilla.com/gradient-editor/

/* CSS shapes from css tricks */
https://css-tricks.com/the-shapes-of-css/

/* Clip-Path Code generator */
https://bennettfeely.com/clippy/

/* Box-Shadow Code generator */
https://html-css-js.com/css/generator/box-shadow/

/* Button Code generator */
https://www.bestcssbuttongenerator.com/

/* CSS Generator */
/* Border 
Border Radius
Box Shadow
Background
Text-Shadow
Gradient
Matrix Transform
Transition
CSS Animation
Image Filter */

https://angrytools.com/css-generator/


/* CSS Generator */
/* Border Radius
Box Shadow
Text Shadow
RGBA
@Font Face
Multiple Columns
Box Resize
Box Sizing
Outline
Transition
Transform
Flexbox
Gradient */
https://css3generator.com/

/* CSS Code Generators */
/* Gradient
Box Shadow
Text Shadow
Color
Font
Table
Column
Border
Border Radius
Transform
Background */
https://html-css-js.com/css/generator/


/* The Ultimate CSS Generator */
https://webcode.tools/


/* colors */
https://color.adobe.com/create/color-wheel
https://mycolor.space/


/* images */
https://www.pexels.com/discover/

/* Vectors and Icons */
https://www.flaticon.com/


